@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-100-Thin.ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-200-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-300-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-400-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-500-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-600-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-700-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-800-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'inter';
  src: url('../app/__fonts/Inter-900-Black.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@layer components {
    .toolbar-wrapper {
        @apply items-center justify-end px-[40px] py-[12px];
    }
    .toolbar-container {
        @apply flex items-center justify-end gap-[20px];
    }
    .rounded-border {
        @apply rounded-[20px] border border-solid border-customLightGray;
    }
    .section-wrapper{
        @apply p-[60px] pt-[40px];
    }
    .navbar {
        @apply flex items-center;
    }
    .navbar-wrapper {
        @apply justify-between px-[40px] pb-[18px] pt-[7px];
    }
    .navbar-title-container{
        @apply text-app-title flex;
    }
    .navbar-links-wrapper{
        @apply gap-[32px] flex-1 justify-center;
    }
    .navbar-icons-wrapper {
        @apply gap-[32px];
    }
    .navbanner-wrapper {
        @apply bg-silver flex-1 justify-center gap-[24px] pb-[8px] pt-[10px];
    }
    .input-label {
        @apply block pb-[7px] capitalize;
    }
    .input-wrapper, .input-container {
        @apply relative text-left;
    }
    .input-box {
        @apply flex w-full rounded-md border-0 rounded-[6px] pb-[14px] pl-[16px] pr-[14px] pt-[15px] text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 h-[48px] box-border;
    }
    .input-element{
        @apply border-none p-0 outline-none focus:ring-0 flex-1;
    }
    .link-underline{
        @apply underline underline-offset-2;
    }
    .passwd-toggle-btn{
        @apply inset-y-0 inline-flex items-center cursor-pointer;
    }
    .app-container {
        @apply m-[auto] flex-1 py-[40px];
    }
    .form-content {
        @apply flex gap-[32px] flex-col;
    }
    .form-action-wrapper {
        @apply pt-[40px];
    }
    .form-action-align-content {
        @apply flex flex-col;
    }
    .form-action {
        @apply rounded-[6px] bg-black text-white text-center uppercase w-full block p-[18.5px] m-[auto]
    }
    .form-error {
        @apply py-[4px] capitalize text-red-400;
    }
    .disabled {
        @apply opacity-60;
    }
    .form-divider {
        @apply divide-y-[1px] divide-customLightGray divide-solid;
    }
    .form-footer-wrapper{
        @apply flex justify-center gap-[10px];
    }
    .form-footer-cta {
        @apply cursor-pointer uppercase;
    }
    .split-box-wrapper {
        @apply pb-[64px] pt-[46px] text-left;
    }
    .split-box-container{
        @apply flex items-center justify-between gap-[12px];
    }
    .otp-wrapper{
        @apply flex h-[48px] w-[46px] items-center justify-center overflow-hidden rounded border border-customLightGray text-center;
    }
    .otp-element{
        @apply h-full w-full flex-1 text-center;
    }
    .list-wrapper {
        @apply block pb-[28px] pt-[37px] text-left;
    }
    .list-container{
        @apply flex flex-col justify-start gap-[25px];
    }
    .checkbox-wrapper {
        @apply flex h-[24px] w-[24px] cursor-pointer items-center justify-center rounded-[4px];
    }
    .fallback-wrapper {
        @apply flex h-full w-full flex-1 justify-center align-middle;
    }
    .form-divider {
        @apply border-b-[1px] border-customLightGray pt-[29px];
    }
    .interest-list-item {
        @apply flex cursor-pointer gap-[12px];
    }
}
